<nav #navbar class="navbar" id="navbar">
        <h1 class="name" (click)="celebrate()">Josue Jovel</h1>
        <span>
            <ul>
                <li><a><h3 (click)="scrollToLocation(0)">Home</h3></a></li>
                <li><a><h3 (click)="scrollToLocation(950)">About</h3></a></li>
                <li><a><h3 (click)="scrollToLocation(1800)">Skills</h3></a></li>
                <li><a><h3 (click)="scrollToLocation(2600)">Projects</h3></a></li>
                <li><a><h3 (click)="scrollToLocation(9999)">Contact</h3></a></li>
                <li><a href="assets/Josue_Jovel_resume.pdf" download="Josue_Jovel_resume.pdf" class="download-button"><h3>Resume</h3></a></li>
            </ul>
        </span>
</nav>