<!--Navbar-->
<app-navbar></app-navbar>
<!--Socials-->
<app-socials></app-socials>
<div class="content">
    <!--Router Outlet-->
    <app-homepage></app-homepage>
    <!--Spacing Element-->
    <div class="space"></div>
    <!--About Me-->
    <app-tabs></app-tabs>
    <!--Spacing Element-->
    <div class="px-space"></div>
    <div id="px-space-skills" class="px-space-half"></div>
    <!--Skills-->
    <app-skills></app-skills>
    <div class="px-space"></div>
    <!--Projects-->
    <app-projects></app-projects>
    <div class="px-space"></div>
    <!--Contacts-->
    <app-contact></app-contact>
    <div class="px-space-half"></div>
    <!--Copyright-->
    <app-copyright></app-copyright>
</div>